[submodule "battleui"]
	path = battleui
	url = ../battleui.git
[submodule "upsilonbattle"]
	path = upsilonbattle
	url = ../upsilonbattle.git
[submodule "upsilonmapdata"]
	path = upsilonmapdata
	url = ../upsilonmapdata.git
[submodule "upsilonmapmaker"]
	path = upsilonmapmaker
	url = ../upsilonmapmaker.git
[submodule "upsilonserializer"]
	path = upsilonserializer
	url = ../upsilonserializer.git
[submodule "upsilontools"]
	path = upsilontools
	url = ../upsilontools.git
[submodule "upsiloncli"]
	path = upsiloncli
	url = ../upsiloncli.git
[submodule "upsilonapi"]
	path = upsilonapi
	url = ../upsilonapi.git
